.buttonContainer {
    /* background-color: aqua; */
    height: auto;
    padding: 1rem;
}

.buttonContainer button {
    height: auto;
    width: auto;

padding: 0.3rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
margin-left: 0.2rem;
margin-right: 0.2rem;
background-color:  #fbfbfb;
border: 0.1rem solid  #c7cce1;
border-radius: 0.5rem;
cursor: pointer;
}