

.backgroundImg {
    background-color: white;
    background-image: url("https://openclipart.org/download/219677/World-Flags-Globe.svg");
    /* background-size:contain; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}


.container {
    box-shadow: 0.5rem 0.5rem 4rem  ;
    background-color :rgba(205, 221, 231, 0.48);
    /* margin-left: 20rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100% ;
    width: 50rem;
    border: 0.1rem solid white;
    border-radius: 1.5rem;
}

.button {
font-weight: 600 ;
    font-size:  2rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 1rem; 
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

